<h3><%= @section.name %></h3>

<table class="table table-condensed table-hover table-responsive">
  <tr>
    <th>assignment</th>
    <th>duedate</th>
    <th>open</th>
    <th></th>
  </tr>
  <% @section.assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.name %></td>
      <td></td>
      <td></td>
      <td><%= link_to '編輯' %>｜<%= link_to'刪除' %></td>
    </tr>
  <% end %>
</table>

<h4>發佈作業</h4>


<h4>編輯作業</h4>
