<h3>指南</h3>

Page needs:

<h5>前台</h5>
<ol>
  <li>登入畫面 </li>
  <li>首頁：section > assignment <%= link_to '[link]', guide_welcome_path  %></li>
  <li>點 assignment 進入 quiz 詳情，可以給 answer<br>
  -- quiz 下可看見回應，或是另有 comment 頁</li>
  <li>就特定 assignment, 全班人的答案分享</li>
  <li>完成度／profile</li>
</ol>


<h5>Admin</h5>
<ol>
  <li>users <%= link_to '[link]', admin_users_path %></li>
  <li>section CRUD</li>
  <li>assignment CRUD</li>
  <li>assignment > quiz CRUD</li>
  <li>answer 一覽</li>
  <li>就特定 assignment 改權限</li>
</ol>